.config/Notepad++/config.xml filter=notepad++ignore
.config/starship.toml filter=starship
*.cs filter=gitignore
.gitattributes merge=theirs
.config/WindowsTerminal/*.json filter=terminal_config
.config/xfce4/terminal/terminalrc filter=terminal_config
.config/messages/*.txt merge=union
.vim/spell/*.add merge=union
.vim/spell/*.add filter=sort
*.sh filter=termux_shell
bin/* filter=termux_shell
bin_termux/* filter=termux_shell
*.bmp diff=image
*.gif diff=image
*.jpeg diff=image
*.jpg diff=image
*.png diff=image
*.tif diff=image
*.tiff diff=image
*.webp diff=image
