[user]
	# These values are set in ~/.gitconfig_local
[alias]
	# # word diff
	# wdiff=diff --color-words="\\w+|." --ignore-cr-at-eol
	# # letter diff
	# ldiff=diff --color-words='.' --ignore-cr-at-eol
	dbdiff=wdiff --ignore-matching-lines='^USE \\[\\w+\\]$'
	# short stat
	stat=status -s
	statu=status -s
	sat=status -s
	pul=pull
	# comm=!git diff --check && git commit
	# diff check and dotnet test before committing
	comm=!"~/bin/git-commit-check && git commit"
	undo-commit=reset HEAD~
	list-alias=!git config -l | grep alias | cut -c 7-
	# word diff log
	wlog=log --patch --color-words='\\w+|.'
	xgrep=!git --no-pager grep -in -I
	xtree=!git ls-files | grep -i --color
	# pretty log
	plog=log --abbrev-commit --date-order --format=format:'%C(bold blue)%>|(21)%h%C(reset) %C(bold green)(%as)%C(reset) %C(white)%<(60,trunc)%s%C(reset) %C(dim white)- %aN%C(reset)%C(auto)%d%C(reset)' --decorate --graph --all
	# one line log
	olog=log --abbrev-commit --date-order --format=format:'%C(bold green)%ad%C(reset) %C(white)%<(45,trunc)%s%C(reset) %C(dim white)- %aN%C(reset)%C(auto)%+d%C(reset)'
	dumpchanges=!git clean -fd && git checkout .
	pullall="!f() { \
		test -z \"$(git status --porcelain)\" || { echo 'Uncommitted changes!' && exit 1; };\
		currentbranch=$(git branch | grep \\* | cut -c 3-);\
		for remote in `git branch | cut -c 3-`;\
			do git checkout $remote && git pull --ff-only 2>&1 | grep -ivP 'warning.+?----' | grep -ivP 'warning.+?https conn' | grep -ivP 'warning.+?tls cert';\
		done;\
		git checkout $currentbranch;\
		}; f;"
	# allows for neat tricks like cd `git root`
	root=rev-parse --show-toplevel
	fixcarriagereturn=!git ls-files --eol | grep -Pi 'w/(mixed|crlf)' | grep -Pio '(?<=\t).+$' | xargs -d '\n' -I {} perl -i -pe 's/\\r//g' '{}'
	fixtw=!git ls-files | xargs -d '\n' sed -i 's/[ \t]*\\(\\r\\?\\)$/\\1/'
[core]
	editor = vim
	autocrlf = input # only check in lf, check out whatever's in the index
	pager = tr -d '\\r' | less -REX # visually strip CR's
	attributesfile = ~/.gitattributes # todo: fix the slowdown this causes in some environments
	excludesfile = ~/.gitignore_global
[interactive]
	singleKey = true
[push]
	autoSetupRemote = true
[gc]
	auto = 256
[init]
	defaultBranch = main
[status]
	renames = copies
[filter "notepad++ignore"]
	clean = ~/.config/gitconfig_scripts/notepad++_clean_filter.sh
[filter "gitignore"]
	clean = "sed -b '/#gitignore$/d'"
[filter "starship"]
	# standardize nerdfont moon glyphs and support #gitignore
	clean = "sed -b -e 's/[]//g' -e '/#gitignore$/d'"
[filter "termux_shell"]
	clean = "~/.config/gitconfig_scripts/termux_filter.sh --clean"
	smudge = "~/.config/gitconfig_scripts/termux_filter.sh --smudge"
[filter "xml"]
	clean = "~/bin/sort-xml"
[filter "json"]
	clean = "~/bin/sort-json"
[filter "sort"]
	clean = "~/bin/pysort"
[filter "terminal_config"]
	clean = "~/.config/gitconfig_scripts/terminal_config_clean_filter.sh"
[help]
	autocorrect = 50
[diff]
	wsErrorHighlight = all
[diff "image"]
	textconv = ~/bin/git-image-diff
[color "diff"]
	meta = blue
	frag = dim blue
[log]
	date = format-local:%Y-%m-%d %H:%M:%S

# placed at the bottom to allow overriding if necessary
[include]
	path = ~/.gitconfig_local
[mailmap]
	file = ~/.mailmap
