[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Shuffle Terminal Wallpaper
Comment=use the command line
Exec="$HOME/bin/shuffle-wallpaper" --terminal --unrecent
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

